body {
  font-family: 'Poppins', serif;
  font-size: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1.name {
  font-size: 96px;
}

div.brands {
    text-align: center;
}

a.brand_icon {
  margin-right: 50px;
}