body {
  font-family: 'Poppins', serif;
  font-size: 50px;

  background-color: #00205B;

  display: flex;
  justify-content: center;
  align-items: center;
}

body, a:visited, a:link, a:active {
    color: white;
}

div.name {
  font-size: 96px;
}

div.tagline {
    font-size: 32px;
    text-align: center;
}

div.brands {
    text-align: center;
}

a.brand_icon {
  margin-right: 50px;
}