body {
  font-family: 'Poppins', serif;
  font-size: 50px;

  background-color: #00205B;
}

main {
    display: grid;
    place-content: center;
    place-items: center;
    min-height: 100vh;
}

body, a:visited, a:link, a:active {
    color: white;
}

div.name {
  font-size: 96px;
}

div.tagline {
    font-size: 32px;
}

div.brands {
}

a.brand_icon {
  margin-right: 25px;
  margin-left: 25px;
  text-decoration-line: none;
}

